<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static "/css/Gallery.css" %}">
    <link rel="stylesheet" href="{% static "/css/HomePage.css" %}">
    <link rel="stylesheet" href="{% static "/css/AboutUs.css" %}">
  <title>FireWorks of Art:About Us</title>
  <link rel="icon" type="image/x-icon" href="{% static "/images/logo.PNG" %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"></script>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'Shop' %}">
   
      <img src="{% static "images/logo.PNG" %}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
 
    <!--<div class="collapse navbar-collapse justify-content-center" id="navbarNav">-->
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'Shop' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Gallery
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'Sketches' %}">Sketches</a>
            <a class="dropdown-item" href="{% url 'Paintings' %}">Paintings</a>
            <a class="dropdown-item" href="{% url 'Scultptures' %}">Sculptures</a>
            <a class="dropdown-item" href="{% url 'ColorPencilArt' %}">Color Pencil Art</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ContactUs' %}">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'AboutUs' %}">About Us</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  <div class="Sketches-Background">
    <img src="{% static "images/logo.png" %}">
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h1>Meet the Artist</h1>
      <h3>Shruti is a multi-talented individual, with a background in medicine and a passion for the arts. <br>While her studies have focused on healing and wellness, her heart has always been drawn to<br> the creative and expressive world of art.</h3>
      <br><br>

      <h3>Growing up, Shruti was inspired by her mother, who was a teacher and taught various types <br>of art forms. Watching her mother share her knowledge and passion for the arts with others<br>had a profound impact on Shruti, and she knew that she wanted to follow in her mother's<br>footsteps and become an artist in her own right.</h3>

     </div>
    <div class="col-sm-4">
      <img src="{% static "images/artist.png" %}">
    </div>

   
  </div>
   
   
  </div>

  <footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a href="https://www.facebook.com/search/top?q=fireworks%20of%20art" class="fa fa-facebook"></a>

        <!-- Instagram -->
        <a href="https://www.instagram.com/fireworks_of_art/" class="fa fa-instagram"></a>

        <a href="https://wa.me/918971877669" class="fa fa-whatsapp"></a>

      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0,170,255);">
      © 2020 Copyright:
      <a class="text-white" href="https://www.fireworksart.in/">fireworksart.in</a>
    </div>
    <!-- Copyright -->
  </footer>

  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"></script>
    


  
</body>
</html>